body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: goldenrod;
    text-shadow: -1px -2px hsl(32, 64%, 49%);
    margin-top: 5px;

}

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.scoreboard div {
    padding: 20px 60px;
    font-size: 1.5em;
    color: rgb(158, 158, 158);
}


.container {
    width: 75vmin;
    height: 75vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "00 01 02"
                         "01 11 12"
                         "02 21 22";
    grid-gap: 1.6%;
    border: 5px solid gray;
    border-radius: 5%;
    padding: 0.8%;
    background-color: rgb(71, 71, 71);
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 5%;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}