body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: goldenrod;
    text-shadow: -1px -2px hsl(32, 64%, 49%);
    margin-top: 5px;

}

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.scoreboard div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
    font-size: 1.5em;
    color: rgb(158, 158, 158);
}

.scoreboard div p {
    margin: 0 15px;
    font-weight: bolder;
    font-family: "monospace";
}


.container {
    width: 75vmin;
    height: 75vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "00 01 02"
                         "01 11 12"
                         "02 21 22";
    grid-gap: 1.6%;
    border: 5px solid gray;
    border-radius: 5%;
    padding: 0.8%;
    background-color: rgb(71, 71, 71);
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 5%;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.winnerSign {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    border-radius: 5%;
    border: 10px solid rgba(200, 200, 200, 0.4);
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(100, 100, 100, 0.9);
    font-size: 2em;
    color: white;
    font-weight: 400;
}

.closeButton {
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 70, 70, 1);
    border: solid 2px black;
    border-radius: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}

.closeButton:active {
    box-shadow: inset 2px 2px rgb(144, 144, 144), inset -2px -2px rgb(144, 144, 144);
}
